<div class="mb-5">
    
    <div class="row">
        
        <div class="col-2">
            <label for="">Codigo</label>
            <input class="form-control" type="text">
        </div>

        <div class="col-2">
            <label for="">Modelo</label>
            <input class="form-control" type="text">
        </div>

        <div class="col-2">
            <label for="">Estado</label>
            <select class="form-select">
                <option value=""></option>
                <option value="1">Activo</option>
                <option value="2">Mantenimiento</option>
            </select>
        </div>
       
        <div class="col"></div>
       
        <div id="botonCrear" class="col-1">
           <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-title="Crear tren" data-bs-placement="bottom">
                <i class="bi bi-plus-square"></i>
            </button>
       </div>
   </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar nuevo tren</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label for="">Modelo</label>
                            <input type="text" class="form-control" formControlName="cantVagones">
                        </div>
                        <div class="col">
                            <label for="">Capacidad maxima peso (t)</label>
                            <input type="number" class="form-control" formControlName="capacidad">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row tabla">
       <table class="table table-striped table-hover">
           <thead>
               <tr>
               <th scope="col">Codigo</th>
               <th scope="col">Modelo</th>
               <th scope="col">Capacidad Total (t)</th>
               <th scope="col">Estado</th>
               <th scope="col">Acciones</th>
               </tr>
           </thead>
           <tbody class="table-group-divider">
            @for (tren of listaTrenes; track $index) {
                <tr>
                    <td>{{tren.codigo}}</td>
                    <td>{{tren.modelo}}</td>
                    <td>{{tren.capacidad_toneladas}}</td>
                    @switch (tren.estado) {
                        @case ("activo") {
                            <td><span class="badge text-bg-primary">Activo</span></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" type="button">Poner en mantenimiento</button>      
                                        </li>
                                    </ul>
                                </div>
                            </td>                 
                        }
                        @case ("mantenimiento") {
                            <td><span class="badge text-bg-warning">Mantenimiento</span></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" type="button">Activar</button>      
                                        </li>
                                    </ul>
                                </div>
                            </td>     
                        }
                    }
                </tr>
            }
           </tbody>
       </table>
    </div>

</div>