<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-success" title="Crear empleado" data-bs-toggle="tooltip"
  data-bs-placement="bottom" (click)="irPostEmpleado()">
    <i class="bi bi-plus-square"></i>
  </button>
</div>

<div class="row">
  <div class="col-md-4 mb-3" *ngFor="let u of usuarios">
    <div class="card p-3 text-center">
      <h5>{{ u.nombre }} {{ u.apellido }}</h5>
      <p class="text-muted">{{ u.email }}</p>
      <p><b>Rol:</b> {{ u.rol }}</p>
      <p>
        <b>Estado:</b>
        <span [ngClass]="u.estado ? 'text-success' : 'text-danger'">
          {{ u.estado ? 'Activo' : 'Inactivo' }}
        </span>
      </p>
      <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-warning btn-sm" (click)="editarUsuario(u.usuario_id!)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(u.usuario_id!)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
