<section>
    <div class="row">
        <div class="col-5">
            <div class="mapa">
        <div id="map"></div>
    </div>
        </div>
        <div class="col-7">
            <form [formGroup]="nuevoViaje" (submit)="submit()">
                <div class="row">
                    <div class="col">
                        <label for="">Estacion origen</label>
                        <select name="" id="" formControlName="estacionOrigen" class="form-select"
                        [ngClass]="{'is-invalid': nuevoViaje.get('estacionOrigen')?.invalid}" (change)="filtrarEstaciones()">
                            <option value="" selected>Seleccionar...</option>
                            @for (estacion of listaEstacionesOrigen; track $index) {
                                <option [value]="estacion.id">{{estacion.ciudad.nombre}}</option>
                            }
                        </select>
                         <div *ngIf="nuevoViaje.get('estacionOrigen')?.getError('required')" class="text-danger small">
                            Seleccione una estación.
                        </div>
                    </div>
                    <div class="col">
                        <label for="">Estacion destino</label>
                        <select name="" id="" formControlName="estacionDestino" class="form-select"
                        [ngClass]="{'is-invalid': nuevoViaje.get('estacionDestino')?.invalid}" (change)="filtrarEstaciones()">
                            <option value="" selected>Seleccionar...</option>
                            @for (estacion of listaEstacionesDestino; track $index) {
                                <option [value]="estacion.id">{{estacion.ciudad.nombre}}</option>
                            }
                        </select>
                        <div *ngIf="nuevoViaje.get('estacionDestino')?.getError('required')" class="text-danger small">
                            Seleccione una estación.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Tren</label>
                        <select name="" id="" formControlName="tren" class="form-select"
                        [ngClass]="{'is-invalid': nuevoViaje.get('tren')?.invalid && nuevoViaje.get('tren')?.touched}" (change)="definirLimitePeso()">
                            <option value="" selected>Seleccionar...</option>
                            @for (tren of listaTrenes; track $index) {
                                <option [value]="tren.tren_id.toString()">{{tren.codigo}}</option>
                            }
                        </select>
                         <div *ngIf="nuevoViaje.get('tren')?.getError('required') && nuevoViaje.get('tren')?.touched" class="text-danger small">
                            Seleccione un tren.
                        </div>
                    </div>
                    <div class="col">
                        <label for="">Fecha</label>
                        <input type="date" class="form-control" formControlName="fecha" [min]="fechaMinima" 
                        [ngClass]="{'is-invalid': nuevoViaje.get('fecha')?.invalid && nuevoViaje.get('fecha')?.touched}">
                        <div *ngIf="nuevoViaje.get('fecha')?.getError('required') && nuevoViaje.get('fecha')?.touched" class="text-danger small">
                            Seleccione una fecha.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Hora salida</label>
                        <input type="time" class="form-control" formControlName="horarioSalida"
                        [ngClass]="{'is-invalid': nuevoViaje.get('horarioSalida')?.invalid && nuevoViaje.get('horarioSalida')?.touched}">
                        <div *ngIf="nuevoViaje.get('horarioSalida')?.getError('required') && nuevoViaje.get('horarioSalida')?.touched" class="text-danger small">
                            Seleccione una hora.
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="">Hora llegada (aprox.)</label>
                        <input type="time" class="form-control" formControlName="horarioLlegada" readonly>
                    </div>
                </div>

                <div class="row" formArrayName="cargas">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Cargamento - Peso actual ({{cargaActual}}/{{cargaMaxima}} t.)
                            </div>
                            <div class="card-body">
                                <div *ngFor="let carga of arrayCargas.controls; let i = index" [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-5">
                                            <label for="">Detalle</label>
                                            <input type="text" class="form-control" formControlName="detalle"
                                            [ngClass]="{'is-invalid': carga.get('detalle')?.invalid}">
                                            <div *ngIf="carga.get('detalle')?.getError('required')" 
                                            class="text-danger small">
                                                Defina el detalle del cargamento.
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <label for="">Tipo</label>
                                            <select name="" id="" class="form-select" formControlName="tipo"
                                            [ngClass]="{'is-invalid': carga.get('tipo')?.invalid}">
                                                <option value="" selected>Seleccionar...</option>
                                                <option value="mineria">Mineria</option>
                                                <option value="agricultura">Agricultura</option>
                                                <option value="general">General</option>
                                                <option value="otros">Otros</option>
                                            </select>
                                            <div *ngIf="carga.get('tipo')?.getError('required')" 
                                            class="text-danger small">
                                                Defina el tipo del cargamento.
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <label for="">Peso (t)</label>
                                            <input type="number" step="0.01" class="form-control" formControlName="peso" (change)="calcularPeso()"
                                            [ngClass]="{'is-invalid': carga.get('peso')?.invalid}">
                                            <div *ngIf="carga.get('peso')?.getError('required')" 
                                            class="text-danger small">
                                                Defina el peso del cargamento.
                                            </div>
                                            <div *ngIf="carga.get('peso')?.getError('min')" 
                                            class="text-danger small">
                                                El peso minimo tiene que ser 1.
                                            </div>
                                            <div *ngIf="carga.get('peso')?.getError('pattern')" 
                                            class="text-danger small">
                                                Escriba hasta 2 decimales (0.00).
                                            </div>
                                        </div>
                                        <div class="col"></div>
                                        <div id="divEliminar" class="col">
                                            <button type="button" class="btn btn-danger" (click)="eliminarCarga(i)">
                                                <i class="bi bi-x-circle"></i>
                                            </button>
                                        </div>
                                        <hr>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-2">
                                        <button type="button" id="botonArray" title="Agregar"  data-bs-toggle="tooltip" 
                                        data-bs-placement="bottom" class="btn btn-primary" (click)="agregarCarga()">
                                            <i class="bi bi-plus-square"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="botonesForm" class="row">
                    <div class="col"></div>
                    <div class="col-2">
                        <button class="btn btn-secondary" title="Volver"  data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" (click)="irMenuViajes()">
                            <i class="bi bi-arrow-left-square"></i>
                        </button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success" type="submit" title="Confirmar" data-bs-toggle="tooltip" 
                        data-bs-placement="bottom">
                            <i class="bi bi-check-circle"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>   
    </div>
</section>