#map{
    height: 85vh;
    width: 75vh;
    margin-left: 10px;
}

.card{
   margin-top: 15px; 
}

.card-body .row{
    margin-top: 10px;
}

#divEliminar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: 15px;
}

#botonesForm{
    margin-top: 15px;
}

#botonesForm .btn, #botonArray{
    width: 90%;
}

hr {
    margin-top: 15px;
}