<section>
    <div class="row">
        <div class="col">
            <div class="mapa">
        <div id="map"></div>
    </div>
        </div>
        <div class="col">
            <form [formGroup]="nuevoViaje" (submit)="submit()">
                <div class="row">
                    <div class="col">
                        <label for="">Estacion origen</label>
                        <select name="" id="" formControlName="estacionOrigen" class="form-select" (change)="filtrarEstaciones()">
                            <option value="" selected>Seleccionar...</option>
                            @for (estacion of listaEstacionesOrigen; track $index) {
                                <option [value]="estacion.id">{{estacion.ciudad.nombre}}</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <label for="">Estacion destino</label>
                        <select name="" id="" formControlName="estacionDestino" class="form-select" (change)="filtrarEstaciones()">
                            <option value="" selected>Seleccionar...</option>
                            @for (estacion of listaEstacionesDestino; track $index) {
                                <option [value]="estacion.id">{{estacion.ciudad.nombre}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Tren</label>
                        <select name="" id="" formControlName="tren" class="form-select">
                            <option value="" selected>Seleccionar...</option>
                            @for (tren of listaTrenes; track $index) {
                                <option [value]="tren.tren_id.toString()">{{tren.codigo}}</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <label for="">Fecha</label>
                        <input type="date" class="form-control" formControlName="fecha">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Hora salida</label>
                        <input type="time" class="form-control" formControlName="horarioSalida">
                    </div>
                    <div class="col-6">
                        <label for="">Hora llegada (aprox.)</label>
                        <input type="time" class="form-control" formControlName="horarioLlegada" readonly>
                    </div>
                </div>

                <div class="row" formArrayName="cargas">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Cargamento
                                <!-- (Peso total: 0/20t) -->
                            </div>
                            <div class="card-body">
                                <div *ngFor="let carga of arrayCargas.controls; let i = index" [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-10">
                                            <label for="">Detalle</label>
                                            <input type="text" class="form-control" formControlName="detalle">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <label for="">Tipo</label>
                                            <select name="" id="" class="form-select" formControlName="tipo">
                                                <option value="" selected>Seleccionar...</option>
                                                <option value="mineria">Mineria</option>
                                                <option value="agricultura">Agricultura</option>
                                                <option value="general">General</option>
                                                <option value="otros">Otros</option>
                                            </select>
                                        </div>
                                        <div class="col-5">
                                            <label for="">Peso (t)</label>
                                            <input type="number" class="form-control" formControlName="peso">
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-danger" (click)="eliminarCarga(i)">X</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-2">
                                        <button type="button" id="botonArray" 
                                        class="btn btn-primary" (click)="agregarCarga()">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="botonesForm" class="row">
                    <div class="col-2">
                        <button class="btn btn-secondary" (click)="irMenuViajes()">Volver</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success" type="submit">Crear</button>
                    </div>
                </div>
            </form>
        </div>   
    </div>

</section>
