<div class="mb-5 "> 
    <div class="row">
        <div class="col">
            <div class="mapa">
                <div id="map"></div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <button id="botonLista" class="btn btn-secondary" (click)="irListaViajes()">Historial</button>
                </div>
                <div class="col-2">
                    <button id="botonForm" class="btn btn-success" (click)="irPostMapa()">Nuevo viaje</button>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Viajes en proceso
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">15:30 - 16:15  ---  Cordoba - Santa Maria  ---  BXL-7000</li>
                                    <li class="list-group-item">15:40 - 17:00  ---  Cordoba - Colonia caroya  ---  BST-1000</li>
                                    <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                                    <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                                    <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                                    <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                                </ul>                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            Proximos viajes
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">15:30 - 16:15  ---  Cordoba - Santa Maria  ---  BXL-7000</li>
                                <li class="list-group-item">15:40 - 17:00  ---  Cordoba - Colonia caroya  ---  BST-1000</li>
                                <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                                <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                                <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                                <li class="list-group-item">15:55 - 17:20  ---  Rio Cuarto - Vicuña Mackena  ---  BRR-2000</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        
        

