<div class="mb-5 "> 
    <div class="row">
        <div class="col-5">
            <div class="mapa">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-2">
                    <button id="botonLista" class="btn btn-secondary" (click)="irListaViajes()">Historial</button>
                </div>
                <div class="col-2">
                    <button id="botonForm" class="btn btn-success" (click)="irPostMapa()">Nuevo viaje</button>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Viajes en proceso
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Hora llegada</th>
                                            <th scope="col">Ruta</th>
                                            <th scope="col">Tren</th>
                                            <th scope="col">Visualizar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (viaje of listadoViajesCurso; track $index) {
                                            <tr>
                                                <td>{{viaje.fechaLlegada| date:'HH:mm:ss'}}</td>
                                                <td>{{viaje.ruta}}</td>
                                                <td>{{viaje.tren}}</td>
                                                <td><button class="btn visualizar" (click)="trazarViaje(viaje.ruta, viaje.estado)">
                                                    <i class="bi bi-eye-fill"></i>
                                                </button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            Proximos viajes
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Hora salida</th>
                                        <th scope="col">Ruta</th>
                                        <th scope="col">Tren</th>
                                        <th scope="col">Visualizar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (viaje of listadoViajeProgramado; track $index) {
                                        <tr>
                                            <td>{{viaje.fechaSalida | date:'HH:mm:ss'}}</td>
                                            <td>{{viaje.ruta}}</td>
                                            <td>{{viaje.tren}}</td>
                                            <td><button class="btn visualizar" (click)="trazarViaje(viaje.ruta, viaje.estado)">
                                                <i class="bi bi-eye-fill"></i>
                                            </button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        
        

