#form{
    margin-top: 30px;
    height: 725px;
} 


input{
    margin-top: 2px;
    margin-bottom: 20px;
}

.boton{
    margin-top: 20px;
    width: 100%;
}

#botonesForm .btn, #botonArray{
    width: 100%;
}

.form-check {
    padding-left: 0rem;
}

.form-check-input {
  display: none;
}

.form-check-label {
    position: relative;
    display: block;
    width: 120px;
    height: 38px;
    border-radius: 32px;
    cursor: pointer;
    overflow: hidden;
    background: #dc3545; /* inactivo */
    transition: background 0.35s ease-in-out;
}

/* Bolita */
.form-check-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  top: 6px;
  left: 6px;
  transition: transform 0.35s cubic-bezier(.4,0,.2,1);
  z-index: 2;
}

/* Texto */
.form-check-label::after {
  content: "Inactivo";
  position: absolute;
  top: 50%;
  right: 12px; /* al inicio, texto a la derecha */
  transform: translateY(-50%);
  font-weight: bold;
  color: white;
  font-size: 14px;
  transition: all 0.35s ease-in-out;
  z-index: 1;
  text-align: right;
}

/* Estado activo */
.form-check-input:checked + .form-check-label {
  background: #0d6efd; /* azul */
}

.form-check-input:checked + .form-check-label::before {
  transform: translateX(76px);
}

.form-check-input:checked + .form-check-label::after {
  content: "Activo";
  left: 12px;   /* texto al lado opuesto de la bolita */
  right: auto;
  text-align: left;
}