/* Sidebar base */
.sidebar {
  position: fixed;
  top: 56px; /* Altura del navbar */
  left: 0;
  height: 100%;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1050;
}

/* Expandido y colapsado */
.sidebar-expanded {
  width: 220px;
}

.sidebar-collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 56px; /* Altura del navbar */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

section{
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 10px;
}