.navbar {
  background: #232D4F;
}

/* Sidebar base */
.sidebar {
  position: fixed;
  top: 56px; /* Altura del navbar */
  left: 0;
  height: 100%;
  overflow-y: auto;
  transition: all 0.3s ease;
  background: #232D4F;
  z-index: 1050;
}

/* Expandido y colapsado */
.sidebar-expanded {
  width: 220px;
}

.sidebar-collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 56px; /* Altura del navbar */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background: rgba(0, 0, 0, 0.5); /* <<< oscuridad */
  transition: opacity 0.3s ease;
}

section{
  padding-top: 70px;
  background-color: gainsboro;
  padding-left: 100px;
  padding-right: 10px;
  min-height: 100vh;
}

.sidebar button.nav-link {
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: none;
  background: transparent;
  color: white;
  transition: background 0.25s, padding-left 0.25s;
}

.sidebar button.nav-link:hover {
  background: rgba(255,255,255,0.1);
  padding-left: 18px;
  cursor: pointer;
}

.sidebar li {
  height: 50px;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding: 6px 0;
}

.sidebar li i{
  margin-left: 3px;
  margin-right: 10px;
}