<nav class="navbar navbar-dark shadow justify-content-between fixed-top">
  
  <div class="d-flex align-items-center">
    <button class="btn btn-outline-light" (click)="Sidebar()">☰</button>
    <h4 class="text-white ms-3 m-0">RailVision</h4>
  </div>

  <div class="dropdown">
    <button class="btn btn-outline-light mb-0 dropdown-toggle" type="button" id="perfilMenu"
    data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilMenu">
      <li><a class="dropdown-item" href="#">Ver perfil</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>
</nav>

<!-- Navegacion dinamica, falta otorgar o denegar permisos -->
<div class="sidebar text-white" [ngClass]="{ 'sidebar-expanded': expand, 'sidebar-collapsed': !expand }">
  <ul class="list-unstyled text-center">

    <!-- Todos pueden ver la lista de viajes -->
    <li>
      <button class="nav-link text-white" (click)="navegar('/menu/viajes')">
        <i class="bi bi-sign-turn-slight-right"></i> Viajes
      </button>
    </li>

    <!-- Solo admin y operador pueden crear nuevos viajes -->

    <!-- Admin y operador -->
    <li *ngIf="authRoles.esAdmin() || authRoles.esOperador()">
      <button class="nav-link text-white" (click)="navegar('/menu/trenes')">
        <i class="bi bi-train-freight-front"></i> Trenes
      </button>
    </li>

    <!-- Solo Admin -->
    <li *ngIf="authRoles.esAdmin()">
      <button class="nav-link text-white" (click)="navegar('/menu/empleados')">
        <i class="bi bi-person-badge"></i> Empleados
      </button>
    </li>

    <!-- Admin y operador -->
    <li *ngIf="authRoles.esAdmin() || authRoles.esOperador()">
      <button class="nav-link text-white" (click)="navegar('/menu/rutas')">
        <i class="bi bi-signpost-split"></i> Rutas
      </button>
    </li>

    <!-- Solo Admin -->
    <li *ngIf="authRoles.esAdmin()">
      <button class="nav-link text-white" (click)="navegar('/menu/estaciones')">
        <i class="bi bi-sign-railroad"></i> Estaciones
      </button>
    </li>

  </ul>
</div>

<div 
  class="overlay" 
  *ngIf="expand"
  (click)="Sidebar()">
</div>

<section>
  <router-outlet></router-outlet>
</section>
