.navbar {
  background: #232D4F;
}

/* Sidebar base */
.sidebar {
  position: fixed;
  top: 56px;           /* debajo del navbar */
  bottom: 0;           /* hasta el borde inferior */
  left: 0;
  width: 220px;
  overflow-y: auto;
  background: #232D4F;

  display: flex;
  flex-direction: column;
  z-index: 1050;
}

/* Expandido y colapsado */
.sidebar-expanded {
  width: 220px;
}

.sidebar-collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 56px; /* Altura del navbar */
  left: 0;
  width: 100%;
  height: calc(100vh - 56px);
  z-index: 1040;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

section {
  padding-top: 70px;
  background-color: gainsboro;
  padding-left: 100px;
  padding-right: 10px;
  min-height: 100vh;
}

/* Botones del sidebar */
.sidebar button.nav-link {
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: none;
  background: transparent;
  color: white;
  transition: background 0.25s, padding-left 0.25s;
}

.sidebar button.nav-link:hover {
  background: rgba(255,255,255,0.1);
  padding-left: 18px;
  cursor: pointer;
}

/* Items del sidebar */
.sidebar li {
  padding: 10px 0;
  height: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar li i {
  margin-left: 3px;
  margin-right: 10px;
}

.sidebar ul {
  padding-left: 0;
}
