<div class="mb-5">

    <div class="row">
        <div id="divVolver" class="col-1">
            <button id="botonVolver" class="btn btn-secondary" (click)="irMenuViajes()">Volver</button>
        </div>
        <div class="col-1">
            <label for="">Tren</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar...</option>
                <option value="1">BXL-7000</option>
                <option value="2">BST-1000</option>
                <option value="3">BRR-2000</option>
            </select>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Ruta</th>
            <th scope="col">Fecha salida</th>
            <th scope="col">Fecha llegada</th>
            <th scope="col">Tren</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (viaje of listadoViajes; track $index) {
                <tr>
                    <td>{{viaje.ruta}}</td>
                    <td>{{viaje.fechaSalida | date:'dd/MM/yyyy - HH:mm:ss'}}</td>
                    @if (viaje.fechaLlegada) { <td>{{viaje.fechaLlegada | date:'dd/MM/yyyy - HH:mm:ss'}}</td> }
                    @else { <td></td> }
                    <td>{{viaje.trenId}}</td>
                    @switch (viaje.estado) {
                        @case ("en curso") {<td><span class="badge text-bg-success">En curso</span></td>}
                        @case ("programado") {<td><span class="badge text-bg-primary">Programado</span></td>}
                        @case ("finalizado") {<td><span class="badge text-bg-secondary">Finalizado</span></td>}
                        @case ("cancelado") {<td><span class="badge text-bg-danger">Cancelado</span></td>}
                    }
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item" type="button">Detalles...</button>   
                                    @if(viaje.estado == "programado") {
                                        <button class="dropdown-item" type="button" (click)="cancelarViaje(viaje.id)">Cancelar</button>
                                    }   
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>