#divVolver, #divLimpiar{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#botonVolver{
    width: 100px;
}

#botonLimpiar{
    width: 50px;
}

table{
    margin-top: 15px;
}